# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.env/
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store

# Logs
*.log

# Test coverage
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover

# Pip
pip-log.txt
pip-delete-this-directory.txt